:root{
    --muted_white: #FCF3ED;
    --custom_orange: #B54F4A;
    --custom_red: #A92E44;
    --custom_grey:#B6B4B0;
    --custom_white: #ffffff;
    --custom_black: #000000;
}
body{
    background-color: var(--muted_white);
    max-width: 100vw;
}
header{
    display: grid;
    place-items: center;
}
main{
    display: grid;
}