@import url("https://use.typekit.net/yql6lls.css");
:root {
  --muted_white: #fcf3ed;
  --custom_orange: #b54f4a;
  --custom_red: #a92e44;
  --custom_grey: #b6b4b0;
  --custom_white: #ffffff;
  --custom_black: #000000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--muted_white);
  min-width: 100vw;
  min-width: 100dvw;
}
header {
  display: grid;
  place-items: center;
}
main {
  display: grid;
  width: 100%;
}
