---
import Navigation from "../components/Navigation.astro";
import PDFCard from "../components/PDF_card.astro";
import Footer from "../components/Footer.astro";
import AboutUsHeader from "../components/About_us_header.astro";
import AboutUsContent from "../components/About_us_content.astro";
import Line from "../components/Line.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="../../public/stylesheets/index.css" />
    <title>About Us</title>
  </head>

  <body>
    <header>
      <AboutUsHeader />
      <Navigation prefix={""} />
    </header>
    <main>
      <AboutUsContent />
      <Line />
      <h1>Rules of the Copenhagen Sakura Festival Committee</h1>
      <article>
        <a href="/public/lottery2019_accountstatement.pdf" download="lottery2019"> <PDFCard text="Sakura Festival Lottery Statement of the Account 2018  " /></a>
        <a href="/public/lottery2019_accountstatement.pdf" download="lottery2019"><PDFCard text="Sakura Festival Lottery Statement of the Account 2018 " /></a>
      </article>
    </main>
    <Footer />
  </body>
</html>

<style>
  article {
    display: flex;
    margin: auto;
    gap: 2em;
    padding: 2em;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: black;
  }
  h1 {
    text-align: center;
    padding: 1em;
    font-family: "roboto";
    font-display: auto;
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
  }
</style>
