---
import LogoGrafik from "../components/Logo_grafik.astro";
import HeaderWithBackground from "../components/Header_with_background.astro";
import ForsideDescription from "../components/Forside_description.astro";
import ProgramForside from "../components/Program_forside.astro";
import Footer from "../components/Footer.astro";
import ScrollDownKnap from "../components/Scroll_down_knap.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex">
    <link rel="stylesheet" href="../../public/stylesheets/index.css" />
    <title>Sakura festival</title>
  </head>

  <body>
    <HeaderWithBackground>
      <LogoGrafik />
<ScrollDownKnap/>
    </HeaderWithBackground>
    <main id="forside_main">
      <ForsideDescription />

      <ProgramForside />
    </main>
    <footer>
      <Footer />
    </footer>
  </body>
</html>
