---
import HeaderWithBackground from "../components/Header_with_background.astro";
import MalteProgramSection from "../components/Malte_program_section.astro";
import MalteTestProgramBox from "../components/Malte_test_program_box.astro";
import MalteTestProgramcard from "../components/Malte_test_programCard.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="../../public/stylesheets/index.css" />
    <title>Astro</title>
  </head>
  <body>
    <HeaderWithBackground>
      <img src="../../public/programTitel.png" alt="" />
    </HeaderWithBackground>
    <main>
      <MalteProgramSection day="Saturday" />
      <MalteProgramSection day="Sunday" />
      <MalteProgramSection></MalteProgramSection>
    </main>
    <script>
      let favorites = [];
      document.querySelectorAll("button").forEach((button) => button.addEventListener("mousedown", favorite));
      function favorite() {
        this.style.color = "orange";
        this.style.webkitTextStrokeColor = "orange";
        this.style.textShadow = "0 0 3px black";

        favorites.push(this.parentElement.parentElement.classList[0]);
        console.log("click");
        console.log(favorites);

        console.log(this.parentElement.parentElement, document.getElementById("favoritesSection"))
document.querySelector("main").lastElementChild.appendChild(this.parentElement.parentElement);
      }
    </script>
  </body>
</html>
