---
---

<div class="background">
  <img class="back" src="../../public/bagground_head_program.png" alt="" />
  <div class="titel">
    <img src="../../public/about_us.png" alt="" />
  </div>
</div>

<style>
  .titel img {
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .background {
    position: relative;
  }

  .background .back {
    width: 100%;
  }
</style>
