---
---

<section>
  <address>
    <h3>Event adresse</h3>
    <p>Langelinie Park, Nordre Toldbod, 1259 København K</p>
  </address>
  <address>c/o Embassy of Japan, Havneholmen 25 9F, 1561 København V | tlf: (+45) 3345 5121 | email: info.cph@ch.mofa.go.jp</address>
</section>

<style>
  section {
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
    border-top: 2px solid var(--custom_black);
  }
  address {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 1.2em;
    padding: 1rem;
    display: flex;
  }
  address:first-of-type {
    flex-direction: column;
    align-items: center;
  }
</style>
