---
---

<section>
  <article>
    <img src="What_is_sakura_festival.png" alt="" />
    <div>
      <p>
        The original idea came from the noble deed of donation of 200 cherry blossom (Sakura) trees by Mr. Seiichi Takaki, President of Andersen Institute of Bread & Life, the holding company of
        Andersen Group of Hiroshima City, and the employees of the company.
      </p>
      <br />
      <p>
        In Japan people love and admire Sakura blossom and almost everybody go out to enjoy its beauty together with families, friends, lovers, office-mates and so forth wherever and whenever Sakura
        bloom. Once a year Sakura connects people and people meet people under Sakura trees. It is also the utmost and fundamental goal of the Committee.
      </p>
    </div>
  </article>
</section>

<style>
  section {
    background-image: url("Red_circle.svg");
    background-repeat: no-repeat;
    background-position: top left;
    margin: 4vw;
    background-size: 30vw;
    padding-left: 6vw;
    padding-top: 8vw;
  }
  article {
    display: grid;
  }
  img {
    width: 80vw;
  }

  div {
    background-color: var(--custom_white);

    padding: 1rem;
    margin-right: 15vw;
    margin-left: 15vw;
    box-shadow: 0 0 3px hsla(0, 0%, 0%, 0.505);
    font-size: 1.3rem;
    font-family: roboto;
font-weight: 400;
font-style: normal;
    line-height: 1.5;
  }
  @media (max-width: 1000px) {
    section {
      margin-left: 0;
    }
  }
</style>
