---
---
<figure>
  <img src="../../public/logo.png" alt="" />
  <div class="logo_text">
    <img src="../../public/Gratis_adgang.png" alt="" />
    <div class="time">
      <img src="../../public/dato.png" alt="" />
      <img src="../../public/year.png" alt="" />
    </div>
  </div>
</figure>

<style>
  figure{
    margin: auto;
  }
  figure, .logo_text, .time{
    display: grid;
    place-items: center;
    gap: 1rem;
  }
  figure > img {
    position: relative;
    left: -1rem;
  }
  img {
    max-width: 100%;
  }
  .time{
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }
</style>
