---
const { eventName, startTime, endTime, eventId } = Astro.props;
---

<script>
  let favorites = [];
  let favoritesid = [];
  document.querySelectorAll("button").forEach((button) => button.addEventListener("mousedown", favorite));
  function favorite() {
    this.style.color = "orange";
    this.style.webkitTextStrokeColor = "orange";
    this.style.textShadow = "0 0 3px black";

    favorites.push(this.previousElementSibling.previousElementSibling.textContent);
    favoritesid.push(this.parentElement.parentElement.classList[0]);
    console.log("click");
    console.log(favorites);
    console.log(favoritesid);
  }
</script>

<article class={eventId}>
  <div>
    <h2>{eventName}</h2>
    <p><span>{startTime}</span><span> -</span><span>{endTime}</span></p>
    <button type="button">★</button>
  </div>
  <slot />
</article>

<style>
  article {
    display: grid;
    grid-template-columns: 3fr 2fr;
    width: 100%;
  }
  div {
    background-color: var(--custom_red);
    color: var(--muted_white);
    font-family: roboto;
    font-weight: 300;
    display: grid;
    grid-template-columns: 4fr 1fr;
    place-items: center;
    padding: 1rem;
  }
  h2 {
    grid-column: span 2;
    font-size: 1.5;
    font-weight: 500;
  }
  button {
    background-color: transparent;
    border-color: transparent;
    color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    font-size: 3em;
    grid-column: 2/3;
    grid-row: 2/3;
    aspect-ratio: 1;
    line-height: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--muted_white);
  }
  span {
    grid-row: 2/3;
    font-size: 1.5em;
  }
</style>
