---
import MalteTestProgramcard from "./Malte_test_programCard.astro";

import { Debug } from "astro/components";
import { log } from "astro/dist/core/logger/core";

const {location, title} = Astro.props;

/* const url = "https://esdfgaunzaoxobhvkhgm.supabase.co/rest/v1/event_list";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzZGZnYXVuemFveG9iaHZraGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MzgwNDksImV4cCI6MTk5NDMxNDA0OX0.c56k4OeHHRhzbFiv3ltdjlaUJlRax8Y-lPQ1LggxS6g",
  },
};

const response = await fetch(url, options);
const data = await response.json(); */
---

<script>

</script>
<div>
  <h3>{title}</h3>
<!--   <Debug {data} /> -->
  {location.map((event) => <MalteTestProgramcard eventName={event.event_name} startTime={event.start_time.substring(0,5)} endTime={event.end_time?.substring(0,5)} eventId={event.id}>  </MalteTestProgramcard>)}
</div>
<!-- <img src={'../../public/database_billeder/' + event.event_name.split(" ").join("_") + '.webp'} alt=""> -->
<style>
  div{
    max-width: 500px;
    max-height: 750px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
