---
---

<div class="bagground">
  <img class="back" src="../../public/bagground_head_program.png" alt="" />
  <div class="titel">
    <img src="../../public/programTitel.png" alt="" />
  </div>
</div>

<style>
  * {
    margin: 0;
  }
  .titel img {
    position: fixed;
    max-width: 50%;
    align-items: center;
    padding-bottom: 50px;
    top: 20%;
    height: auto;
    left: 30%;
  }
  .bagground {
    position: relative;
  }

  .titel img {
    width: 100%;
  }
  .bagground .back {
    width: 70%;
    /* object-fit: cover; */
  }

  @media (min-width: 720px) {
    .bagground .back {
      width: 100%;
    }
    .titel img {
      position: absolute;
      top: 40%;
      left: 30%;
      max-width: 40%;
    }
  }
  @media (min-width: 1300px) {
    .titel img {
      left: 35%;
      max-width: 40%;
    }
  }
</style>
