---
---
<section>
  <article class="saturday">
    <span>Saturday 22.03.23</span>
    <ul>
      <li>WadaiAko</li>
    </ul>
    <ul>
      <li>Opening vermony</li>
      <li>Akido</li>
    </ul>
    <ul>
      <li>Karate børn</li>
      <li>Wering Kimono</li>
      <li>Koto & Shakuchachi</li>
      <li>Tsugaru shamisen</li>
    </ul>
    <ul>
      <li>Cosplay Constest</li>
      <li>Soranbushi</li>
      <li>Kendo</li>
      <li>Wadaiko</li>
      <li>Bondori</li>
      <li>Haiku</li>
      <li>About Shamisen</li>
    </ul>
    <ul>
      <li>Calligraphy</li>
      <li>Anime drawing workshop</li>
      <li>Koto & shakuihachi</li>
      <li>Orgami</li>
      <li>Tea cermony</li>
    </ul>
  </article>

  <article class="sunday">
    <span>Sunday 23.03.23</span>
    <ul>
      <li>WadaiAko</li>
    </ul>
    <ul>
      <li>Opening vermony</li>
      <li>Akido</li>
    </ul>
    <ul>
      <li>Karate børn</li>
      <li>Wering Kimono</li>
      <li>Koto & Shakuchachi</li>
      <li>Tsugaru shamisen</li>
    </ul>
    <ul>
      <li>Cosplay Constest</li>
      <li>Soranbushi</li>
      <li>Kendo</li>
      <li>Wadaiko</li>
      <li>Bondori</li>
      <li>Haiku</li>
      <li>About Shamisen</li>
    </ul>
    <ul>
      <li>Calligraphy</li>
      <li>Anime drawing workshop</li>
      <li>Koto & shakuihachi</li>
      <li>Orgami</li>
      <li>Tea cermony</li>
    </ul>
  </article>
</section>

<style>
  section {
    display: grid;
    gap: 2rem;
    width:70vw;
    margin: auto;
  }
  article {
    font-family: roboto;
    display: grid;
    padding: 2rem;
    font-size: 1.3rem;
  }
  article:last-of-type {
    justify-content: right;
  }
  article:last-of-type * {
    text-align: right;
    justify-content: right;
  }
  span {
    color: var(--custom_red);
    text-decoration: underline;
    margin-bottom: 0.5rem ;
  }
  ul {
    display: flex;
    gap: 1.5rem;
    margin-block: 0.25rem;
  }
  ul:nth-of-type(2n) {
    color: var(--custom_red);
  }
</style>
