---
import ProgramForsideEventName from "./Program_forside_event_name.astro";

import { Debug } from "astro/components";

const url = "https://esdfgaunzaoxobhvkhgm.supabase.co/rest/v1/event_list";

const options = {
  headers: {
    apikey:
      "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzZGZnYXVuemFveG9iaHZraGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MzgwNDksImV4cCI6MTk5NDMxNDA0OX0.c56k4OeHHRhzbFiv3ltdjlaUJlRax8Y-lPQ1LggxS6g",
  },
};

const response = await fetch(url, options);
const data = await response.json();
---

<section>
  <article class="saturday">
      <h3>Saturday 22.03.23</h3>
    <ul>
      {data.map((event) => <ProgramForsideEventName eventNavn={event.event_name} />)}
    </ul>
  </article>

  <article class="sunday">
    <h3>Sunday 23.03.23</h3>
    <ul>
      {data.map((event) => <ProgramForsideEventName eventNavn={event.event_name} />)}
    </ul>
  </article>
</section>

<style>
  section {
    display: grid;
    gap: 2rem;
    width: 70vw;
    margin: auto;
  }
  article {
    font-family: roboto;
    display: grid;
    padding: 2rem;
    font-size: 1.3rem;
  }
  article:last-of-type {
    justify-content: right;
    text-align: right;
  }
  article:last-of-type ul{
    text-align: right;
    justify-content: right;
  }
  article:last-of-type h3{
    margin-right: 1.2rem;
  }
  h3 {
    color: var(--custom_red);
    text-decoration: underline;
    margin-bottom: 0.5rem;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    margin-block: 0.25rem;
  }
</style>
