---
import ProgramBox from "./Program_box.astro";

const url = "https://esdfgaunzaoxobhvkhgm.supabase.co/rest/v1/event_list";

const options = {
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzZGZnYXVuemFveG9iaHZraGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MzgwNDksImV4cCI6MTk5NDMxNDA0OX0.c56k4OeHHRhzbFiv3ltdjlaUJlRax8Y-lPQ1LggxS6g",
  },
};

const response = await fetch(url, options);
const data = await response.json();

const day = Astro.props.day;

const mainStage = data.filter((event) => event.stage == "Main" && event.day == day);
const secondStage = data.filter((event) => event.stage == "Second Stage" && event.day == day);
const theLawn = data.filter((event) => event.stage == "The Lawn" && event.day == day);
---

<section>
  <h2>{day}</h2>
  <ProgramBox location={mainStage} title="Main Stage" />
  <ProgramBox location={secondStage} title="Second Stage" />
  <ProgramBox location={theLawn} title="The Lawn" />
</section>

<style>
  section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem;
    background-color: var(--custom_white);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 2rem;
    margin: 3rem;
  }
  h2 {
    grid-column: span 3;
    font-family: roboto;
    font-size: 5rem;
    text-align: center;
  }
  @media(max-width:1250px){
    section {

    grid-template-columns:  1fr;
  }
  h2 {
    grid-column: span 1;
  }
  }
</style>
