---
---

<!-- https://esdfgaunzaoxobhvkhgm.supabase.co --><!-- eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVzZGZnYXVuemFveG9iaHZraGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg3MzgwNDksImV4cCI6MTk5NDMxNDA0OX0.c56k4OeHHRhzbFiv3ltdjlaUJlRax8Y-lPQ1LggxS6g -->
<div class="card">
  <div class="info">
    <h2>Cosplay Constest</h2>
    <p>14:30 - 15:30</p>
    <div class="starr"></div>
  </div>
  <img src="../../public/koto.webp" alt="" />
</div>

<style>
  .card {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid black;
    margin: 10px;
    background-color: var(--custom_red);
    color: white;
  }
  img {
    width: 100%;
    object-fit: contain;
  }
  h2 {
    font-size: 25px;
    margin: 10px 0 10px 5px;
  }
  p {
    font-size: 19px;
    margin: 0px 0 10px 5px;
  }
</style>
